<% @triangles = sort_by_middle_angle(@triangles) %>

<div id="triangles_container">
  <% @triangles.each_with_index do |triangle, index| %>
    <div id="triangle_container" style="display:inline-block">
      <%= canvas("triangle_#{index}") %><br>
      Side lengths: <%= triangle.side_lengths %><br>
      Internal angles: <%= triangle.angles %><br>
      Coordinates: <%= triangle.coordinates.map{|c| "#{c[:x]}, #{c[:y]}"} %><br>
    </div>
  <% end %>
</div>



<script type="text/javascript">
  $(function() {
    var triangles = <%= raw @triangles.to_json %>;
    $(triangles).each(function (index, triangle) {
      draw_triangle(triangle, index);
    });
  });
</script>

